<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="cuadrado">
            <div class="contenedor">
                <div class="texto">
                    <h2>Welcome to DEV Community</h2>
                    <p>DEV Community is a community</p>
                </div>
                <div class="cuentas">
                    <a href="#">Apple</a>
                    <a href="#">Github</a>
                    <a href="#">Twitter</a>
                </div>
                <div class="registrar">Already have an account?</div>
            </div>
        </div>
    </main>
</body>
</html>