@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");
@font-face {
  font-family: "Roboto";
  src: '../fonts/Roboto/Roboto-Regular.ttf';
}

@-webkit-keyframes ClockwiseSpin {
  0% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes ClockwiseSpin {
  0% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', cursive;
}

header {
  background-color: #F0F0F0;
  padding: .5rem 0;
  z-index: 200;
}

header.active {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.14);
}

header .navbar {
  max-width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .logo:hover {
  cursor: pointer;
}

header .navbar img {
  width: 40px;
  height: 40px;
  -webkit-animation: ClockwiseSpin .5s;
          animation: ClockwiseSpin .5s;
}

header .navbar .links a {
  font-weight: 500;
  text-decoration: none;
  color: #1d1d1d;
  padding: 1rem;
  text-transform: uppercase;
}

header .navbar .links a:last-of-type {
  padding: 1rem 0 1rem 1rem;
}

.site-page .for-me {
  padding-top: 2rem;
}

.site-page .for-me .container {
  max-width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-page .for-me .container .presentation {
  min-width: 400px;
  padding-bottom: 12rem;
  position: relative;
}

.site-page .for-me .container .presentation::after {
  content: '';
  left: 132px;
  position: absolute;
  right: 89px;
  top: 42px;
  height: 2px;
  background-color: #363636;
}

.site-page .for-me .container .presentation .hey {
  font-weight: 500;
  font-size: 3rem;
}

.site-page .for-me .container .presentation h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.site-page .for-me .container .presentation .work {
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}

.site-page .for-me .container .presentation .sociles {
  margin-top: 2rem;
}

.site-page .for-me .container .presentation .sociles a {
  padding: .8rem 2.2rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 900;
  background: -webkit-gradient(linear, left top, right top, from(#44acdc), to(#4f81ee));
  background: linear-gradient(90deg, #44acdc 0%, #4f81ee 100%);
  background-clip: padding-box;
  text-decoration: none;
  color: whitesmoke;
}

.site-page .for-me .container .presentation .sociles a:last-of-type {
  margin-left: 30px;
}

.site-page .for-me .container .presentation .sociles .bnt_second {
  color: #000000;
  position: relative;
  z-index: 20;
}

.site-page .for-me .container .presentation .sociles .bnt_second span {
  z-index: 20;
  position: relative;
}

.site-page .for-me .container .presentation .sociles .bnt_second::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 5px;
  background: white;
  border-radius: 3px;
}

.site-page .for-me .container .imagen img {
  padding: 4rem 0;
}

.site-page .projects .container {
  margin: 0 auto;
  max-width: 85%;
}

.site-page .projects .container .project {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.site-page .projects .container .project img {
  width: 50rem;
}

.site-page .projects .container .project .datos {
  padding: 25px 35px;
  position: relative;
  right: 18rem;
  border-radius: 4px;
  background-color: #F0F0F0;
}

.site-page .projects .container .project .datos .container-d .number-project {
  color: #03a9f4;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.site-page .projects .container .project .datos .container-d .title-project {
  font-size: 30px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #363636;
  margin-top: 10px;
  margin-bottom: 15px;
  letter-spacing: 3px;
}

.site-page .projects .container .project .datos .container-d .content-project {
  font-size: 20px;
  color: #161616;
  margin-bottom: 20px;
}

.site-page .projects .container .project .datos .container-d .external {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-page .projects .container .project .datos .container-d .external a.link {
  font-size: 30px;
}

.site-page .projects .container .project .datos .container-d .external a:nth-child(2) {
  margin-left: 40px;
}

.site-page .projects .container .project .datos .container-d .tags-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-page .projects .container .project .datos .container-d .tags-project .tag {
  font-size: 16px;
  background-color: #3cdbff9e;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 25px;
}

.site-page .projects .container .project .datos .container-d a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #161616;
  font-size: 35px;
}

.footer-site {
  background-color: #F0F0F0;
  padding: 5rem 0;
}

.footer-site .container {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

.footer-site h3 {
  font-family: 'Ranchers', cursive;
  text-transform: uppercase;
  margin: 15px 0;
  font-size: 25px;
  letter-spacing: 6px;
}

.footer-site .socials {
  margin-bottom: 10px;
}

.footer-site .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.footer-site .socials ul a {
  padding: 2rem;
}

.footer-site .socials ul a i {
  color: #201f1f17;
}

.footer-site .socials ul a i:hover {
  color: #03a9f4;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer-site .copy {
  color: #777777;
  font-weight: 700;
}

.footer-site .copy span {
  color: #e91e63;
}

.footer-site .copy a {
  text-decoration: none;
  color: #03a9f4;
}

.messages {
  position: absolute;
  right: 69px;
  top: 85px;
  /* width: 433px; */
  /* box-shadow: 2px 5px 3px 2px #b3b3b3; */
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.247);
          box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.247);
  border-radius: 7px;
}

.messages .message {
  background: #03a9f4;
  padding: 15px 10px;
  /* border-radius: 21px; */
  color: #fff;
  font-weight: 700;
  border-radius: 7px;
}

.container-c {
  margin: 0 auto;
  max-width: 50%;
  margin-top: 10px;
  text-align: center;
}

.container-c form {
  text-align: start;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-c form label:first-of-type {
  margin-top: 15px;
}

.container-c form input, .container-c form textarea {
  margin-bottom: 20px;
  margin-top: 15px;
}

.container-c form input[type="text"] {
  background: #ececec;
  border: none;
  height: 22px;
  color: black;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.container-c form textarea {
  background: #ececec;
  border: none;
  color: black;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.container-c form input[type="submit"] {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: none;
  outline: none;
  padding: 15px 0;
  width: 200px;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  font-size: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#44acdc), to(#4f81ee));
  background: linear-gradient(90deg, #44acdc 0%, #4f81ee 100%);
}

.navbar-mobile {
  display: none;
}

.navbar-mobile.display {
  display: block !important;
}

.navbar-mobile .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.navbar-mobile .links a {
  text-decoration: none;
  color: #363636;
  font-size: 20px;
  margin-bottom: 15px;
  border-bottom: 2px solid #ebebeb;
}

.btn-mobile {
  display: none;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamRotate180.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

@media (max-width: 680px) {
  #nav .navbar .links {
    display: none !important;
  }
  #nav .navbar .btn-mobile {
    display: block;
  }
}
/*# sourceMappingURL=styles.css.map */