@font-face{
    font-family: "Roboto";
    src: '../fonts/Roboto/Roboto-Regular.ttf';
}
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

@keyframes ClockwiseSpin{
    0%{
        transform: rotate(1turn);
    }
    to{
        transform: rotate(0);
    }
}
body{
    overflow-x: hidden;
}
img{
    max-width: 100%;
    height: auto;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', cursive;
}

header{
    background-color: #F0F0F0;
    padding: .5rem 0; 
    z-index: 340;
    &.active{
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.14);
    }
    .navbar{
        max-width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo:hover{
            cursor: pointer;
        }
        img{
            width: 40px;
            height: 40px;
            animation: ClockwiseSpin .5s;
        }
        .links{
            a{
                font-weight: 500;
                text-decoration: none;
                color: rgb(29, 29, 29);
                padding: 1rem;
                text-transform: uppercase;
            }
            a:last-of-type{
                padding: 1rem 0 1rem 1rem;
            }
        }
    }
}

.site-page{
    .for-me{
        padding-top: 2rem;
        .container{
            max-width: 90%;
            margin: 0 auto;
            display: flex;
            overflow: hidden;
            align-items: center;
            justify-content: space-between;
            .presentation{
                min-width: 400px;
                padding-bottom: 12rem;
                position: relative;
                &::after{
                    content: '';
                    left: 132px;
                    position: absolute;
                    right: 89px;
                    top: 42px;
                    height: 2px;
                    background-color: #363636;
                }
                .hey{
                    font-weight: 500;
                    font-size: 3rem;
                }
                h2{
                    font-weight: 500;
                    text-transform: uppercase;
                    font-size: 3.5rem;
                }
                .work{
                    font-size: 25px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
                .sociles{
                    margin-top: 2rem;
                    a{
                        padding: .8rem 2.2rem;
                        border-radius: 4px;
                        text-transform: uppercase;
                        font-weight: 900;
                        background: linear-gradient(90deg, #44acdc 0%, #4f81ee 100%);
                        background-clip: padding-box;
                        text-decoration: none;
                        color: whitesmoke;
                    }
                    a:last-of-type{
                        margin-left: 30px;
                    }
                    .bnt_second{
                        
                        color: #000000;
                        position: relative;
                        z-index: 20;
                        span{
                            z-index: 20;
                            position: relative;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            z-index: 1;
                            top: 4px;
                            left: 4px;
                            right: 4px;
                            bottom: 5px;
                            background: white;
                            border-radius: 3px;
                        }
                    }
                }
            }
            .imagen{
                img{
                    padding: 4rem 0;
                }
            }
        }
    }
    .projects{
        .container{
            margin: 0 auto;
            max-width: 85%;
            .project{
                position: relative;
                display: flex;
                align-items: center;
                margin-bottom: 70px;
                img{width: 50rem;}
                .datos{
                   // min-height: 240px;
                    padding: 25px 35px;
                    position: relative;
                    right: 18rem;
                    border-radius: 4px;
                    background-color: #F0F0F0;
                    .container-d{
                        .number-project{
                            color: #03a9f4;
                            font-size: 25px;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                        .title-project{
                            font-size: 30px;
                            font-weight: 500;
                            font-family: Arial, Helvetica, sans-serif;
                            color: #363636;
                            margin-top: 10px;
                            margin-bottom: 15px;
                            letter-spacing: 3px;
                        }
                        .content-project{
                            font-size: 20px;
                            color: #161616;
                            margin-bottom: 20px;
                        }
                        .external{
                            display: flex;
                            align-items: center;
                            a.link{
                                font-size: 30px;
                            }
                            a:nth-child(2){
                                margin-left: 40px;
                            }
                        }
                        .tags-project{
                            display: flex;
                            align-items: center;
                            .tag{
                                font-size: 16px;
                                background-color: #3cdbff9e;
                                border-radius: 3px;
                                padding: 5px 10px;
                                margin-right: 25px;
                            }
                        }
                        a{
                            display: block;
                            margin-top: 10px;
                            text-decoration: none;
                            color: #161616;
                            font-size: 35px;
                        }
                    }
                }
            }
        }
    }
}
.footer-site{
    background-color: #F0F0F0;
    padding: 4rem 0;
    .container{
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    h3{font-family: 'Ranchers', cursive;text-transform: uppercase;margin: 15px 0; font-size: 25px; letter-spacing: 6px;}
    .socials{
        margin-bottom: 10px;
        ul{
            display: flex;
            justify-content: center;
            list-style: none;
            
            a{
                padding: 2rem;
                i{
                    color: #201f1f17;
                    &:hover{
                        color: #03a9f4;
                        transition: .5s;
                    }
                }
            }
        }
    } 
    .copy{
        color: #777777;
        font-weight: 700;
        span{
            color: #e91e63;
        }
        a{
            text-decoration: none;
            color: #03a9f4;
        }
    }
}

.messages{
    position: absolute;
    right: 69px;
    top: 85px;
    /* width: 433px; */
    /* box-shadow: 2px 5px 3px 2px #b3b3b3; */
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.247);
    border-radius: 7px;
    .message{
        background: #03a9f4;
        padding: 15px 10px;
        /* border-radius: 21px; */
        color: #fff;
        font-weight: 700;
        border-radius: 7px;
    }
}

.container-c{
    margin: 0 auto;
    max-width:50%;
    margin-top: 10px;
    text-align: center;
    form{
        text-align: start;
        position: relative;
        display: flex;
        flex-direction: column;
        label:first-of-type{margin-top: 15px;}
        input, textarea{
            margin-bottom: 20px;
            margin-top: 15px;
        }
        input[type="text"]{
            background: #ececec;
            border: none;
            height: 22px;
            color: black;
            padding: 10px;
            font-size: 16px;
            outline: none;
        }
        textarea{
            background: #ececec;
            border: none;
            color: black;
            padding: 10px;
            font-size: 16px;
            outline: none;
        }
        input[type="submit"]{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            border: none;
            outline: none;
            padding: 15px 0;
            width: 200px;
            text-transform: uppercase;
            color: white;
            font-weight: 800;
            font-size: 20px;
            background: linear-gradient(90deg, #44acdc 0%, #4f81ee 100%);
        }
    }
}

.navbar-mobile{
    display: none;
    z-index: 300;
    &.display{
        display: block!important;
    }
    .links{
        display: flex;
        flex-direction: column;
        text-align: center;
        a{
            text-decoration: none;
            color: #363636;
            font-size: 20px;
            margin-bottom: 15px;
            border-bottom: 2px solid rgb(235, 235, 235);
        }
    }
}

.article-header{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 340px;
    position: relative;
    margin-bottom: 35px;
    .article-container{padding: 50px 18%;text-align: center;}
    &::after{
        content: '';
        background-color: #144156b3;
        position: absolute;
        backdrop-filter: blur(4px);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
    h1{
        color: white;
        z-index: 200;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .categories{
        bottom: 15px;
        z-index: 200;
        position: absolute;
        margin: 20px 0;
        text-align: start;
        a{
            text-decoration: none;
            color: white;
            font-weight: 500;
            padding: 5px 5px;
            border-radius: 5px;
            margin-right: 20px;
            &.programacion{background-color: #161616;}
            &.web{background-color: #03a9f4;}
            &.artic{background-color: #5bc4f5;}
            &.actual{background-color: #d8b724;}
            &.top{background-color: rgb(175, 57, 243);}
        }
    }
}

.container-c{
    max-width: 65%!important;
    .article-body{margin-bottom: 35px;}
    .articles{
        article{
            display: flex;
            margin: 50px 0;
            position: relative;
            .section{
                .imagen{
                    border-top-left-radius: 5px;
                    overflow: hidden;
                    width: 355px;
                    height: 200px;
                }
                .category{
                    border-bottom-left-radius: 5px;
                    width: 100%;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    text-align: end;
                    background-color: #03a9f4;
                    a{
                        padding: 15px;
                        text-decoration: none;
                        color: white;
                        font-weight: 500;
                    }
                }
            }
            .section_{
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                width: 65%;
                padding: 25px;
                background-color: #ececec;
                text-align: initial;
                .desc{
                    h2{
                        font-weight: unset!important;
                    }
                    strong{
                        font-weight: normal!important;
                    }
                }
                .title{
                    margin-bottom: 10px;
                    font-weight: 500;
                    font-size: 22px;
                    position: relative;
                    width: 100%;
                    a{
                        text-decoration: none;
                        color: #252525;
                        width: 100%;
                        display: block;
                    }
                    &::after{
                        content: '';
                        width: 35px;
                        border-radius: 200px;
                        position: absolute;
                        height: 5px;
                        background-color: #03a9f4;
                        bottom: -5px;
                        left: 0;
                    }
                }
            }
            .section_:hover{
                cursor: pointer;
                .title{
                    a{
                        color: #03a9f4;
                        transition: .4s;
                    }
                    &::after{
                        content: '';
                        width: 35px;
                        transition: .4s;
                        border-radius: 200px;
                        position: absolute;
                        height: 5px;
                        background-color: #252525;
                        bottom: -5px;
                        left: 0;
                    }
                }
            }
            a.link{
                text-decoration: none;
                position: absolute;
                bottom: 12px;
                right: 25px;
                color: #404974;
                font-size: .9rem;
            }
        }
    }
}

.btn-mobile{display: none;}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }

@media (max-width: 1230px){
    article{
        flex-direction: column;
        .imagen{width: auto!important;border-top-right-radius: 5px;position: relative;}
        img{margin-bottom: 17px;
            position: absolute;
            top: -114px;
            left: 0;
        right: 0;}
        .category{border-bottom-left-radius: 0!important;}
        .section_{width: auto!important;border-top-right-radius: 0!important; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
    }
    .projects{
        .container{
            .project{
                flex-direction: column;
                .datos{
                    flex-shrink: 1;
                    margin-top: 30px;
                    position:initial!important;
                }
            }
        }
    } 
}

@media (max-width: 1540px){
    .c-a{max-width: 79%!important;}
    .projects{
        .container{
            .project{
                .datos{
                    flex-shrink: 0.7;
                }
            }
        }
    }
}

@media (max-width: 950px){
    article{
        flex-direction: column;
        .imagen{width: auto!important;border-top-right-radius: 5px;position: relative;}
        img{margin-bottom: 17px;
            position: initial;
            top: -114px;
            left: 0;
        right: 0;}
        .category{border-bottom-left-radius: 0!important;}
        .section_{width: auto!important;border-top-right-radius: 0!important; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
    }
}

@media (max-width: 1430px){
    .projects{
        .container{
            .project{
                .datos{
                    flex-shrink: 0.6;
                }
            }
        }
    }
}

@media (max-width: 753px){
    .c-a{max-width: 90%!important;}
    .for-me{
        .container{
            align-items: initial!important;
            .imagen{
                img{padding: 0!important;}
            }
        }
    }
}

@media (max-width: 680px){
    .for-me{
        .container{
            align-items: initial!important;
            flex-direction: column-reverse;
        }
    }
    #nav{
        .navbar{
            .links{
                display: none!important;
            }
            .btn-mobile{
                display: block;
            }
        }
    }
}