@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");
@font-face {
  font-family: "Roboto";
  src: '../fonts/Roboto/Roboto-Regular.ttf';
}

@-webkit-keyframes ClockwiseSpin {
  0% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes ClockwiseSpin {
  0% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', cursive;
}

header {
  background-color: #F0F0F0;
  padding: .5rem 0;
  z-index: 340;
}

header.active {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.14);
}

header .navbar {
  max-width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .logo:hover {
  cursor: pointer;
}

header .navbar img {
  width: 40px;
  height: 40px;
  -webkit-animation: ClockwiseSpin .5s;
          animation: ClockwiseSpin .5s;
}

header .navbar .links a {
  font-weight: 500;
  text-decoration: none;
  color: #1d1d1d;
  padding: 1rem;
  text-transform: uppercase;
}

header .navbar .links a:last-of-type {
  padding: 1rem 0 1rem 1rem;
}

.site-page .for-me {
  padding-top: 2rem;
}

.site-page .for-me .container {
  max-width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-page .for-me .container .presentation {
  min-width: 400px;
  padding-bottom: 12rem;
  position: relative;
}

.site-page .for-me .container .presentation::after {
  content: '';
  left: 132px;
  position: absolute;
  right: 89px;
  top: 42px;
  height: 2px;
  background-color: #363636;
}

.site-page .for-me .container .presentation .hey {
  font-weight: 500;
  font-size: 3rem;
}

.site-page .for-me .container .presentation h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.site-page .for-me .container .presentation .work {
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}

.site-page .for-me .container .presentation .sociles {
  margin-top: 2rem;
}

.site-page .for-me .container .presentation .sociles a {
  padding: .8rem 2.2rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 900;
  background: -webkit-gradient(linear, left top, right top, from(#44acdc), to(#4f81ee));
  background: linear-gradient(90deg, #44acdc 0%, #4f81ee 100%);
  background-clip: padding-box;
  text-decoration: none;
  color: whitesmoke;
}

.site-page .for-me .container .presentation .sociles a:last-of-type {
  margin-left: 30px;
}

.site-page .for-me .container .presentation .sociles .bnt_second {
  color: #000000;
  position: relative;
  z-index: 20;
}

.site-page .for-me .container .presentation .sociles .bnt_second span {
  z-index: 20;
  position: relative;
}

.site-page .for-me .container .presentation .sociles .bnt_second::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 5px;
  background: white;
  border-radius: 3px;
}

.site-page .for-me .container .imagen img {
  padding: 4rem 0;
}

.site-page .projects .container {
  margin: 0 auto;
  max-width: 85%;
}

.site-page .projects .container .project {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.site-page .projects .container .project img {
  width: 50rem;
}

.site-page .projects .container .project .datos {
  padding: 25px 35px;
  position: relative;
  right: 18rem;
  border-radius: 4px;
  background-color: #F0F0F0;
}

.site-page .projects .container .project .datos .container-d .number-project {
  color: #03a9f4;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.site-page .projects .container .project .datos .container-d .title-project {
  font-size: 30px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #363636;
  margin-top: 10px;
  margin-bottom: 15px;
  letter-spacing: 3px;
}

.site-page .projects .container .project .datos .container-d .content-project {
  font-size: 20px;
  color: #161616;
  margin-bottom: 20px;
}

.site-page .projects .container .project .datos .container-d .external {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-page .projects .container .project .datos .container-d .external a.link {
  font-size: 30px;
}

.site-page .projects .container .project .datos .container-d .external a:nth-child(2) {
  margin-left: 40px;
}

.site-page .projects .container .project .datos .container-d .tags-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-page .projects .container .project .datos .container-d .tags-project .tag {
  font-size: 16px;
  background-color: #3cdbff9e;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 25px;
}

.site-page .projects .container .project .datos .container-d a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #161616;
  font-size: 35px;
}

.footer-site {
  background-color: #F0F0F0;
  padding: 4rem 0;
}

.footer-site .container {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

.footer-site h3 {
  font-family: 'Ranchers', cursive;
  text-transform: uppercase;
  margin: 15px 0;
  font-size: 25px;
  letter-spacing: 6px;
}

.footer-site .socials {
  margin-bottom: 10px;
}

.footer-site .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.footer-site .socials ul a {
  padding: 2rem;
}

.footer-site .socials ul a i {
  color: #201f1f17;
}

.footer-site .socials ul a i:hover {
  color: #03a9f4;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer-site .copy {
  color: #777777;
  font-weight: 700;
}

.footer-site .copy span {
  color: #e91e63;
}

.footer-site .copy a {
  text-decoration: none;
  color: #03a9f4;
}

.messages {
  position: absolute;
  right: 69px;
  top: 85px;
  /* width: 433px; */
  /* box-shadow: 2px 5px 3px 2px #b3b3b3; */
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.247);
          box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.247);
  border-radius: 7px;
}

.messages .message {
  background: #03a9f4;
  padding: 15px 10px;
  /* border-radius: 21px; */
  color: #fff;
  font-weight: 700;
  border-radius: 7px;
}

.container-c {
  margin: 0 auto;
  max-width: 50%;
  margin-top: 10px;
  text-align: center;
}

.container-c form {
  text-align: start;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-c form label:first-of-type {
  margin-top: 15px;
}

.container-c form input, .container-c form textarea {
  margin-bottom: 20px;
  margin-top: 15px;
}

.container-c form input[type="text"] {
  background: #ececec;
  border: none;
  height: 22px;
  color: black;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.container-c form textarea {
  background: #ececec;
  border: none;
  color: black;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.container-c form input[type="submit"] {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: none;
  outline: none;
  padding: 15px 0;
  width: 200px;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  font-size: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#44acdc), to(#4f81ee));
  background: linear-gradient(90deg, #44acdc 0%, #4f81ee 100%);
}

.navbar-mobile {
  display: none;
  z-index: 300;
}

.navbar-mobile.display {
  display: block !important;
}

.navbar-mobile .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.navbar-mobile .links a {
  text-decoration: none;
  color: #363636;
  font-size: 20px;
  margin-bottom: 15px;
  border-bottom: 2px solid #ebebeb;
}

.article-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 340px;
  position: relative;
  margin-bottom: 35px;
}

.article-header .article-container {
  padding: 50px 18%;
  text-align: center;
}

.article-header::after {
  content: '';
  background-color: #144156b3;
  position: absolute;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.article-header h1 {
  color: white;
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.article-header .categories {
  bottom: 15px;
  z-index: 200;
  position: absolute;
  margin: 20px 0;
  text-align: start;
}

.article-header .categories a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 5px 5px;
  border-radius: 5px;
  margin-right: 20px;
}

.article-header .categories a.programacion {
  background-color: #161616;
}

.article-header .categories a.web {
  background-color: #03a9f4;
}

.article-header .categories a.artic {
  background-color: #5bc4f5;
}

.article-header .categories a.actual {
  background-color: #d8b724;
}

.article-header .categories a.top {
  background-color: #af39f3;
}

.container-c {
  max-width: 65% !important;
}

.container-c .article-body {
  margin-bottom: 35px;
}

.container-c .articles article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
  position: relative;
}

.container-c .articles article .section .imagen {
  border-top-left-radius: 5px;
  overflow: hidden;
  width: 355px;
  height: 200px;
}

.container-c .articles article .section .category {
  border-bottom-left-radius: 5px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: end;
  background-color: #03a9f4;
}

.container-c .articles article .section .category a {
  padding: 15px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.container-c .articles article .section_ {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 65%;
  padding: 25px;
  background-color: #ececec;
  text-align: initial;
}

.container-c .articles article .section_ .desc h2 {
  font-weight: unset !important;
}

.container-c .articles article .section_ .desc strong {
  font-weight: normal !important;
}

.container-c .articles article .section_ .title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
  position: relative;
  width: 100%;
}

.container-c .articles article .section_ .title a {
  text-decoration: none;
  color: #252525;
  width: 100%;
  display: block;
}

.container-c .articles article .section_ .title::after {
  content: '';
  width: 35px;
  border-radius: 200px;
  position: absolute;
  height: 5px;
  background-color: #03a9f4;
  bottom: -5px;
  left: 0;
}

.container-c .articles article .section_:hover {
  cursor: pointer;
}

.container-c .articles article .section_:hover .title a {
  color: #03a9f4;
  -webkit-transition: .4s;
  transition: .4s;
}

.container-c .articles article .section_:hover .title::after {
  content: '';
  width: 35px;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 200px;
  position: absolute;
  height: 5px;
  background-color: #252525;
  bottom: -5px;
  left: 0;
}

.container-c .articles article a.link {
  text-decoration: none;
  position: absolute;
  bottom: 12px;
  right: 25px;
  color: #404974;
  font-size: .9rem;
}

.btn-mobile {
  display: none;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamRotate180.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

@media (max-width: 1230px) {
  article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article .imagen {
    width: auto !important;
    border-top-right-radius: 5px;
    position: relative;
  }
  article img {
    margin-bottom: 17px;
    position: absolute;
    top: -114px;
    left: 0;
    right: 0;
  }
  article .category {
    border-bottom-left-radius: 0 !important;
  }
  article .section_ {
    width: auto !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .projects .container .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects .container .project .datos {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    margin-top: 30px;
    position: initial !important;
  }
}

@media (max-width: 1540px) {
  .c-a {
    max-width: 79% !important;
  }
  .projects .container .project .datos {
    -ms-flex-negative: 0.7;
        flex-shrink: 0.7;
  }
}

@media (max-width: 950px) {
  article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article .imagen {
    width: auto !important;
    border-top-right-radius: 5px;
    position: relative;
  }
  article img {
    margin-bottom: 17px;
    position: initial;
    top: -114px;
    left: 0;
    right: 0;
  }
  article .category {
    border-bottom-left-radius: 0 !important;
  }
  article .section_ {
    width: auto !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

@media (max-width: 1430px) {
  .projects .container .project .datos {
    -ms-flex-negative: 0.6;
        flex-shrink: 0.6;
  }
}

@media (max-width: 753px) {
  .c-a {
    max-width: 90% !important;
  }
  .for-me .container {
    -webkit-box-align: initial !important;
        -ms-flex-align: initial !important;
            align-items: initial !important;
  }
  .for-me .container .imagen img {
    padding: 0 !important;
  }
}

@media (max-width: 680px) {
  .for-me .container {
    -webkit-box-align: initial !important;
        -ms-flex-align: initial !important;
            align-items: initial !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #nav .navbar .links {
    display: none !important;
  }
  #nav .navbar .btn-mobile {
    display: block;
  }
}
/*# sourceMappingURL=styles.css.map */